.navbar, #nav-link, #nav-header, #toggle-label {
  color: var(--primary-text-color);
  z-index: 1;
}

#projects, .footer { 
  position: relative;
  overflow: hidden;
  width: 100%;
} 

#projects .wave, .footer .wave {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 10% 30%,
    rgba(5, 17, 108, 0.4) 10%,
    transparent 50%
  ),
  radial-gradient(
    circle at 80% 50%,
    rgba(12, 39, 128, 0.4) 10%,
    transparent 50%
  ),
  radial-gradient(
    circle at 50% 80%,
    rgba(14, 17, 148, 0.4) 10%,
    transparent 50%
  ),
  radial-gradient(
    circle at 20% 70%,
    rgba(22, 3, 100, 0.3) 20%,
    transparent 50%
  ),
  radial-gradient(
    circle at 90% 20%,
    rgba(14, 3, 109, 0.3) 20%,
    transparent 50%
  ),
  radial-gradient(
    circle at 70% 90%,
    rgba(22, 49, 138, 0.3) 20%,
    transparent 50%
  );
  background-size: 400% 400%;
  animation: wave 6s infinite alternate;
}

/* Set text color for projects and footer in dark mode */
[data-theme="dark"] #projects,
[data-theme="dark"] .footer {
  color: var(--primary-text-color);
}

@keyframes wave {
  0% {
    background-position: 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
  }
  100% {
    background-position: 200% 0, 200% 0, 200% 0, 200% 0, 200% 0, 200% 0;
  }
}

.custom-image {
  width: 100%;
  height: auto;
  border-radius: 10px
}

.github-logo {
  width: 200px;
  height: 200px;
}

.github-link {
  color: var(--toggle-bg);
  width: 70px;
  height: 70px;
  margin-top: 60px;
}

#previous-button, #next-button {
  color: var(--toggle-bg);
  background-color: transparent;
  border: none;
  margin: 10px;
}

.fa-icon {
  --fa-animation-duration: 3s;
}

.project-link {
  text-decoration: none;
  color: inherit;
}

.pic-link:hover, .github-link:hover {
  transform: scale(1.5);
  transition: transform 0.2s ease-in-out;
}

#intro, #about {
  background: radial-gradient(ellipse at center, var(--foreground-color), var(--toggle-bg));
  color: var(--primary-text-color);
}

.underline-title {
  text-decoration: underline;
}

.nav-link:hover, #toggle-label:hover {
  color: var(--foreground-color)!important;
}

.navbar-brand:hover {
  color: var(--foreground-color) !important;
}

.icon {
  color: var(--primary-text-color);
}

.icon:hover {
  transform: scale(1.5);
  transition: transform 0.2s ease-in-out;
}

/* Dark/Light Mode Effects */
:root {
  --background-color: #f0f0f0;
  --foreground-color: #3063e2;
  --primary-text-color: #f6f6f6;
  --secondary-text-color: #000000;
  --toggle-bg: #050572;
  --toggle-fg: #3063e2;
}

[data-theme="dark"] {
  --background-color: #424242;
  --foreground-color: #050572;
  --primary-text-color: #d8d4d4dc;
  --secondary-text-color: #d8d4d4dc;
  --toggle-bg: #3063e2;
  --toggle-fg: #050572;
}

/* Toggle Button */
.toggle-container {
  position: fixed;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.toggle {
  visibility: hidden;
}

.toggle + label {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  cursor: pointer;
  color: white;
}

.toggle + label::before {
  content: "";
  height: 1em;
  width: 2em;
  border-radius: 1em;
  background-color: var(--toggle-bg);
  margin-right: 0.5em;
  transition: background-color 250ms ease-in-out;
}

.toggle + label::after {
  content: "";
  height: 0.8em;
  width: 0.8em;
  border-radius: 1em;
  background-color: var(--toggle-fg);
  position: absolute;
  left: 0.2em;
  transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
}

.toggle:checked + label::after {
  transform: translateX(100%);
}